*.gemspec diff=ruby
*.rake    diff=ruby
*.rb      diff=ruby
*.js      diff=javascript

db/schema.rb merge=ours diff=ruby linguist-generated
yarn.lock merge=ours linguist-generated
Gemfile.lock merge=ours linguist-generated

vendor/*  linguist-vendored
bin/* linguist-generated
